I am providing you a dataset of user reviews for a mobile application.
Each review is placed between two {{ delimiter }} characters. There are {{ num_reviews }} reviews.
Using all {{ num_reviews }} user reviews, always write an English summary of the reviews with 3 paragraphs.
Use "**" as a delimiter to highlight the key aspects in the summary text.
Return the output as a JSON object with the following format: {{ output_format }}

Here is the data:
{{ reviews }}
